body {
margin: 0;
padding: 0;
display: flex;
justify-content: center;
align-items: center;
height: 100vh;
background: #004B57;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.btn-neon{
    position: relative;
    display: inline-block;
    padding: 15px 30px;
    color: #fff;
    letter-spacing: 4px;
    font-size: 24px;
    text-decoration: none;
    overflow: hidden;
    transition: 0.2s;
    margin-right: 20%;
    margin-left: 15%;
}

.btn-neon:hover{
    background: #AED;
    box-shadow: 0 0 10px #AED, 0 0 40px #AED, 0 0 80px #AED;
    transition-delay: 1s;
}

.btn-neon span{
    position: absolute;
    display: block;
}

#span1{
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #AED);
}

.btn-neon:hover:hover #span1{
    left: 100%;
    transition: 1s;
}

#span3{
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, #AED);
}

.btn-neon:hover:hover #span3{
    right: 100%;
    transition: 1s;
    transition-delay: 0.5s;
}

#span2{
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #AED);
}

.btn-neon:hover:hover #span2{
    top: 100%;
    transition: 1s;
    transition-delay: 0.25s;

}

#span4{
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, #AED);
}

.btn-neon:hover:hover #span4{
    bottom: 100%;
    transition: 1s;
    transition-delay: 0.75s;
}